.App, .Inp__details{
  max-width: 70vw;
  margin: 0 auto;
}

.App {
  text-align: center;
}
.profile h3 {
  margin-bottom: 2em;
}
#profile__img {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}

img {
	margin-top: 3em;
}

a,
button {
	display: block;
	background-color: #EAECF0;
	border-radius: 10px;
	margin-top: 1em;
	padding: 1em 0;
	text-decoration: none;
	color: black;
	font-weight: bold;
  text-align: center;
}


footer {
  border-top: 1px solid rgb(218, 214, 214);
  text-align: left;
  padding-bottom: 2em;
  max-width: 70vw;
  margin: 0 auto;
}

.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.socials div {
  margin-left: 15px;
}

#hng__logo{
 justify-self: center;
 font-size: 0.8em;
 color: grey;
 margin-bottom: -3em;
}

.service{
  display: none;
  
}

a:hover .service  {
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -10px;
  
}

.agreement {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.share {
  text-align: right;
  margin-bottom: -3em;
  margin-right: 7em;
}

#shareMobile {
  display: none;
}

@media  screen and (max-width:700px) {
  #share {
    display: none;
  }

  #shareMobile {
    display: block;
    margin-left: 60vw;
    margin-right: 20vw ;
  }
}

.inp__details {
  color: #475467
}


@media screen and (min-width:700px) {
	footer,
  #personal_details {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

  .Inp__details {
    max-width: 40vw;
  }

  #first_name,
  #last_name {
    max-width: 3fr;
  }

}

.Inp__details h2 {
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 2em;
  line-height: 44px;
  color: #101828;
}

.Inp__details p {
  font-weight: 400;
  color: #475467;
  line-height: 28px;
  font-size: 1.125em;
}

label {
  font-size: 0.875em;
  line-height: 20px;
  color: #344054;font-weight: 500;
}

.Inp__details #btn__submit {
  background-color: #1570EF;
  color: white;
  margin-bottom: 5em;
}

#first_name,
#last_name,
#email,
textarea,
#btn__submit {
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  padding: 10px 14px;
  outline: none;
  width: 100%;
  margin-bottom: 2em;
}

[type='checkbox'],
[htmlFor="agreement"] {
  font-weight: 300;
  color: #475467;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #475467;
}

textarea {
  resize: none;
  margin-top: 1em;
}


